.header{
    width:100%-20px;
    background-color: gray;
    border-radius: 15px;
    border: 10px solid black;
    margin: 0;
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}
.mainfb{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
    height: auto;
}
.div1{
    width: 25%;
    background-color: gray;
    border-radius: 15px;
    border: 10px solid black;
}
.img1{
    width: 80%;
    margin: 10% 10% 0 10%;
}
.text1{
    width: 80%;
    margin: 10% 10% 0 10%;
}
.fb{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
button{
    width: 80%;
    height: 50px;
    margin-top: 25px;
    margin-left: 10%;
    border-radius: 15px;
    border-color: black;
    background-color: #AAAAAA;
}
.buttontxt{
    text-align: center;
    font-size: larger;
}