:root{
    --background: #AFBEC5
}
header{
    background-color: var(--background);
    border-radius: 15px;
    border: 10px solid black;
    margin: 0;
    margin-bottom: 30px;
    height: 100px;
}
h1{
    width: 75%;
    text-align: center;
    height: 35px;
    margin: 10px auto;
    border-radius: 15px;
    border: 4px solid black;
    padding-top: 5px ;
    background-color: rgb(212, 250, 255); 
    font-size:25px;
    text-decoration:none ;
}
header p{
    padding: 0;
    margin: 21px 0 0 150px;
    font-size: 50px;
}
header a{
    float: left;
    img{
        width: 100px;
        margin-left: 10px;
    }
}
.vraag, .antwoord{
    width: 50%;
}
.vraag{
    color: red;
    border: 5px solid black;
}
.antwoord{
    color: blue;
    border: 5px solid black;
}
html[id=index]{
    main{
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-evenly;
	    align-items: stretch;
	    align-content: stretch;
        height: auto;
        section, nav{
            width: 25%;
            background-color: var(--background);
            border-radius: 15px;
            border: 10px solid black;
        }
        a{
            text-decoration:none ;
        }
        section img, section p{
            width: 80%;
            margin: 10%;
        }
        section img{
        border-radius: 50%;
        }
        nav{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            align-content: stretch;
            p{
                text-align: center;
                font-size: larger;
            }
        }
    }
}
html[id=projecten] main{
    .section_left, .section_right{
        display: flex;
        width: 90%;
        background-color: var(--background);
        border: 10px solid black;
        border-radius: 15px;
        padding: 10px;
        margin: 5%;
    }
    p{
        margin: 0 5%;
        width: 70%;
        font-size: larger;
    }
    img{
        width: 20%;
        margin-left: 10px;
    }
}
html[id=hobby] main{
    section{
        display: flex;
        justify-content: space-between;
        margin: 25px 0 25px 0;
        p{
            background-color: var(--background);
            border: 10px solid black;
            border-radius: 15px;
            margin: 0;
            width: 70%;
            padding: 10px;
            font-size: 30px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        img{
            background-color: var(--background);
            border: 10px solid black;
            border-radius: 15px;
            width: 20%;
        }
    }
}
html[id=interview]{
    main{
        background-color: var(--background);
        border: 10px solid black;
        border-radius: 15px;
        img{
            background-color: var(--background);
            border: 10px solid black;
            border-radius: 15px;
            width: 90%;
            padding: 0;
            margin: 4%;
            height: 500px;
        }
    }
    footer{
        background-color: var(--background);
        border: 10px solid black;
        border-radius: 15px;
        table{
            width: 100%;
            tr{
                width: 90%;
            }
        }
    }
}
html[id=social] main{
    section{
        margin: 0 5% 5% 5%;
        border: 10px solid black;
        border-radius: 15px;
        background-color: var(--background);
        padding: 10px;
        height: 50px;
        img{
            float: left;
            margin-right: 10px;
            width: 50px;
        }
        a p{
            font-size: 25px;
            margin: 10px 0 10px 0;
        }
    }
}
html[id=inlog] main{
    width: 50%;
    background-color: var(--background);
    border-radius: 15px;
    border: 10px solid black;
    margin: auto;
    height: 420px;
    div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;  
        align-content: center;
        height: 300px;
        label, input{
            margin: 20px 0 20px 0;
            height: 20px;
            border: 0;
            padding: 0;
        }
        input{
            border-radius: 5px;
            width: 60%;
            margin-right: 5%;
            margin-left: 5%;
            padding: 5px;
        }
        label{
            text-align: right;
            width: 25%;
            margin-right: 5%;
            height: 20px;
            padding: 5px 0 5px 0;
        }
        input[type=checkbox]{
            height: 30px;
            width: 30px;
        }
    }
    p{
        text-align: right;
        width: 30%;
        margin-bottom: 0;
    }
    input{
        height: 50px;
        border-radius: 50px;
    }
    input[type=submit]{
        width: 50%;
        margin: 0px 25% 0 25%;
        background-color: rgb(0, 255, 0);
    }
    input[type=submit]:hover{
        background-color: rgb(0, 186, 0);
    }
}
html[id=me]{
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        section{
            background-color: var(--background);
            border-radius: 15px;
            border: 10px solid black;
            width: 47%;
        }
        p{
            margin: 10px;   
            font-size: 30px;
        }
        img{
            background-color: var(--background);
            border-radius: 15px;
            border: 10px solid black;
            width: 47%;   
        }
    }
    footer{
        background-color: var(--background);
        border: 10px solid black;
        border-radius: 15px;
        margin-top: 20px;
        padding: 5pxs;
        p{
            margin: 2.5px 10px 2.5px 10px;  
        }
    }
}
html[id=inlog2]{
    main{
        background-color: var(--background);
        border-radius: 15px;
        border: 10px solid black;
        width: 50%;
        margin: auto;
        text-align: center;
        height: 400px;
        a{
            display: block;
            border: 10px solid black;
            background-color: rgb(212, 250, 255);
            border-radius: 20px;
            margin: auto;
            margin-top: 200px;
            width: 50%;
            height: 40px;
            font-size: 30px;
        }
        p{
            font-size: 25px;
        }
    }
}